* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
}

body{
    background-color: teal;
}

main{
    background-color: orange;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}